name: Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate 3D contributions only
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: yeonliyou
          filename: dist/metrics-6m.svg
        
          base: ""
        
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
        
          plugins_errors_fatal: false
          config_output: svg

